body{ height: 100%;}
i{ font-style: normal;}
.myTable{
    border: 1px solid #ccc;
    border-radius: 5px;
}
.searchInfo{
    background-color: #eeeeee;
    color: #409eff;
    border-bottom: 1px solid #ccc;
    padding: 20px;
}
.tableStyle{
    margin: 10px 10px 0px 10px;
    border-top: 1px solid #ccc;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
}
.el-table{
    font-size: 13px;
    td{ padding: 11px 0}
    thead {
        color: #0e0e0e;
        font-weight: 600;
    }
    .success-row {
        background: #f9f8f6;
    }
    .el-table__body-wrapper{
        height: 676px; overflow-y: auto;
    }
}
// ��������
.searchNav{
    background-color: #f4f4f4; padding: 20px; color: #409eff; border-bottom: 1px solid #ccc;
    .newAdd{ margin-right: 25px;}
    .el-input{ width: 11%; margin-right: 15px;}
    .el-select{
        margin-right: 15px;
        .el-input{ width: 100%;}
    }
}